<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto.descripcion %>
</p>


<%= link_to 'Ir a evento TODO', "#" %> |
<%= link_to 'Editar informacion', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Agregar participante TODO', "#" %>
