<p id="notice"><%= notice %></p>

<h1>Evento: <%= @evento.nombre %> </h1>

<h2>Proyectos</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
    </tr>
  </thead>

  <tbody>
    <% @evento.proyectos.each do |proyecto| %>
      <tr>
        <td><%= link_to proyecto.nombre, proyecto %></td>
        <td><%= proyecto.descripcion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Acciones</h2>

<%= link_to 'Inscribirse TODO', "#" %> |
<%= link_to 'Votar TODO', "#" %> |
<%= link_to 'Nuevo proyecto', {:controller => "proyectos", :action => "new", :evento_id => @evento.id }%>
