<p id="notice"><%= notice %></p>

<p>
  <strong>nombre:</strong>
  <%= @evento.nombre %>
</p>

<h2>Proyectos</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Proyecto.all.each do |proyecto| %>
      <tr>
        <td><%= link_to proyecto.nombre, proyecto %></td>
        <td><%= proyecto.descripcion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Acciones</h2>

<%= link_to 'Inscribirse TODO', "#" %> |
<%= link_to 'Votar TODO', "#" %> |
<%= link_to 'Nuevo proyecto', new_proyecto_path %>
