<%= form_for(@inscripcion_evento) do |f| %>
  <% if @inscripcion_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscripcion_evento.errors.count, "error") %> prohibited this inscripcion_evento from being saved:</h2>

      <ul>
      <% @inscripcion_evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :evento_id %><br>
    <%= f.number_field :evento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
