<h1>Listing proyecto_users</h1>

<table>
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @proyecto_users.each do |proyecto_user| %>
      <tr>
        <td><%= proyecto_user.proyecto_id %></td>
        <td><%= proyecto_user.user_id %></td>
        <td><%= link_to 'Show', proyecto_user %></td>
        <td><%= link_to 'Edit', edit_proyecto_user_path(proyecto_user) %></td>
        <td><%= link_to 'Destroy', proyecto_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyecto user', new_proyecto_user_path %>
